*,
*:before,
*:after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
}

:root {
  --unnamed-color-040404: #040404;
  --primary-color: #f1f1f1;
  --sideBar-bgColor: transparent
    linear-gradient(90deg, #040404 0%, #040404fa 21%, #04040400 100%) 0% 0%
    no-repeat padding-box;
}

.App {
  display: flex;
  width: 100%;
  overflow: hidden;
}

#main-content {
  width: 100%;
}



